<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potato Disease</title>
</head>
<body bgcolor="#FDEDEC">
    <center>
        <h1>Potato Disease Predictor</h1>
    </center>
    <br>
    <br>
    <br>
  <center>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <br>
        <input type="submit" value="Predict">
    </form>
  </center>
</body>
</html>